.books-section {
  padding-left: 24rem;
  padding-right: 24rem;
  padding-top: 3rem; /* Adjusted padding-top */
  padding-bottom: 6rem; /* Adjusted padding-bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.books-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  transition: ease-in 1s;
  padding-left: 30rem;
}

.books-title:hover {
  color: brown;
  transition: ease-in 2s;
}

.text-books {
  font-size: 1rem;
  margin-bottom: 2rem;
}
