.canvas-section {
  padding: 24rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  transition: ease-in 1s;
  /* padding-left: 30rem; */
}

.canvas-title:hover {
  color: brown;
  transition: ease-in 2s;
}

.text-canvas {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* @media (max-width: 640px) {
  .canvas-section {
    padding: 3rem 2rem; 
  }
}

@media (max-width: 768px) {
  .canvas-section {
    padding: 3rem 4rem; }
} */
