.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin-top: 120px;
}

.hero h1 {
  text-align: center;
  width: 60%;
  font-size: 70px;
  font-weight: 500px;
}
.spantext {
  color: aqua;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 15px 15px;
  border-radius: 50px;
  background: linear-gradient(264deg, #94c3f0, #34ca34, #d8a12b);
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid white;
  background: transparent;
  /* animation: ease-in-out; */
  transition: 4s ease-in-out;
}
