.video-section {
  padding-left: 24rem;
  padding-right: 24rem;
  padding-top: 3rem; /* Adjusted padding-top */
  padding-bottom: 6rem; /* Adjusted padding-bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  transition: ease-in 1s;
  padding-left: 30rem;
}

.video-title:hover {
  color: brown;
  transition: ease-in 2s;
}

.text-video {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li button:before {
  color: white !important; 
}

.slick-dots li.slick-active button:before {
  color: #fb8569 !important;
}
